RPi.GPIO==0.7.1
smbus2==0.4.3
Adafruit-Blinka==8.50.0
adafruit-circuitpython-bme280==2.6.24
adafruit-circuitpython-mcp3xxx==1.4.19
w1thermsensor==2.3.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
python-dateutil==2.9.0
